* {
  margin: 0;
  padding: 0;
}

/* Színek*/
:root {
  --background: #e9e5db;
  --main: #e1d7c6;
  --bezs: #f8f4ea;
  --fekete: black;
  --feher: white;
  --kek: #579bb1;
  --hover: #bbe4e9;
  --input: #e6e6e6;
  --elso-w-opacity: #5585b5af;

  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--fekete);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* Navbár */
.navbar {
  background-color: var(--kek);
  overflow: hidden;
  border-left: none;
  border-right: none;
  border-top: none;
}

.navbar a {
  float: left;
  display: block;
  color: var(--feher);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: var(--hover);
  color: var(--fekete);
  transition: 0.3s;
}

.bejelentkezes {
  float: right !important;
}

.navbar a.active {
  background-color: var(--elso-w-opacity);
  color: var(--feher);
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .bejelentkezes {
    float: none !important;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Main oldal*/
.slide {
  width: 90%;
  height: 45%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.kereses {
  width: 550px;
  padding: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  border: 2px solid var(--background);
}

.kereses:focus {
  outline: 2px solid var(--bezs) !important;
}

.szures {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.szures select {
  width: 170px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--background);
}

.szures select:focus {
  outline: 2px solid var(--bezs) !important;
}

@media screen and (max-width: 600px) {
  .kereses {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .szures {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
/* Slideshow container */
.slideshow-container {
  width: 75%;
  height: 50%;
  position: relative;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.slideshow-img-box {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--feher);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide_text {
  color: var(--feher);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: var(--feher);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .slide_text {
    font-size: 11px;
  }
}

/*Kártyák*/
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container .box {
  width: 320px;
  margin: 20px;
  box-sizing: border-box;
  background-color: var(--main);
  border: none;
  outline: none;
  border-radius: 8px;
  min-width: 320px;
  /* max-height: 700px; */
  height: fit-content;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.box:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.container a {
  text-decoration: none;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .container .box {
    width: 90%;
  }
}

.kep-box {
  width: 100%;
  height: 30%;
}

.kep-box .kep {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.cim {
  text-align: center;
  font-size: x-large;
}

.leiras {
  text-align: justify;
  word-break: break-word;
}

.adatok {
  margin: 15px;
  margin-top: 0 !important;
  font-size: large;
}

.idopont {
  font-size: large;
}

/*Bejelentkezés oldal*/
.kontener {
  width: 50vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "login";
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background: var(--feher);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.pirulak {
  grid-area: pirulak;
  display: none;
  position: relative;
}

.rotate-45 {
  transform: rotate(-45deg);
}

.pirulak .pill-1 {
  bottom: 0;
  left: -40px;
  position: absolute;
  width: 80px;
  height: 200px;
  background: linear-gradient(
    180deg,
    rgb(145, 132, 98) 20%,
    rgb(184, 171, 147) 40%,
    rgb(230, 222, 209) 60%,
    rgba(248, 244, 234, 1) 80%
  );
  border-radius: 40px;
}

.pirulak .pill-2 {
  top: -100px;
  left: -80px;
  position: absolute;
  height: 450px;
  width: 220px;
  background: linear-gradient(
    200deg,
    rgb(145, 132, 98) 20%,
    rgb(184, 171, 147) 40%,
    rgb(230, 222, 209) 60%,
    rgba(248, 244, 234, 1) 80%
  );
  border-radius: 200px;
  border: 30px solid var(--background);
}

.pirulak .pill-3 {
  top: -100px;
  left: 160px;
  position: absolute;
  height: 200px;
  width: 100px;
  background: linear-gradient(
    200deg,
    rgb(145, 132, 98) 20%,
    rgb(184, 171, 147) 40%,
    rgb(230, 222, 209) 60%,
    rgba(248, 244, 234, 1) 80%
  );
  border-radius: 70px;
}

.pirulak .pill-4 {
  bottom: -180px;
  left: 220px;
  position: absolute;
  height: 300px;
  width: 120px;
  background: linear-gradient(
    70deg,
    rgb(145, 132, 98) 20%,
    rgb(184, 171, 147) 40%,
    rgb(230, 222, 209) 60%,
    rgba(248, 244, 234, 1) 80%
  );
  border-radius: 70px;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--feher);
}

.login h3.title {
  margin: 15px 0;
  color: var(--fekete);
}

.text-input {
  background: var(--input);
  height: 40px;
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  margin: 5px 0;
}

textarea {
  background: var(--input);
  border-radius: 10px;
  resize: none;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  margin-top: 12px;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.bx-current-location {
  color: #686868;
}

input[type="file"] {
  margin-top: 20px;
  color: var(--fekete);
}

.login select {
  background: var(--input);
  width: 320px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  margin-top: 6px;
}
.text-input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.text-input i {
  color: #686868;
}

::placeholder {
  color: #9a9a9a;
}

.login-btn {
  width: 68%;
  padding: 10px;
  color: var(--feher);
  background: linear-gradient(
    to left,
    rgb(145, 132, 98) 20%,
    rgb(184, 171, 147) 40%,
    rgb(231, 223, 202) 80%,
    rgb(231, 223, 202) 80%
  );
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.login-btn:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

a {
  font-size: 12px;
  color: #9a9a9a;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  .kontener {
    grid-template-columns: 50% 50%;
    grid-template-areas: "pirulak login";
  }

  .pirulak {
    display: block;
  }
}

@media screen and (max-width: 1900px) {
  .login select,
  textarea {
    width: 310px;
  }
}

@media screen and (max-width: 1800px) {
  .login select,
  textarea {
    width: 300px;
  }
}

@media screen and (max-width: 1700px) {
  .login select,
  textarea {
    width: 280px;
  }
}

@media screen and (max-width: 1600px) {
  .login select,
  textarea {
    width: 260px;
  }
}

@media screen and (max-width: 1500px) {
  .login select,
  textarea {
    width: 240px;
  }
}

@media screen and (max-width: 1300px) {
  .login select,
  textarea {
    width: 220px;
  }
}

@media screen and (max-width: 1100px) {
  .login select,
  textarea {
    width: 190px;
  }
}

@media screen and (max-width: 770px) {
  .login select,
  textarea {
    width: 240px;
  }

  .kontener {
    width: 80vw !important;
  }
}

@media screen and (max-width: 500px) {
  .login select,
  textarea {
    width: 160px;
  }
}

@media screen and (max-width: 376px) {
  .login select,
  textarea {
    width: 145px;
  }
}

/*Admin oldal*/

.keret {
  margin-top: 30px;
  height: auto;
  width: 30%;
  box-sizing: border-box;
  background-color: var(--main);
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  transition: 0.2s;
  padding: 20px;
  padding-top: 10px !important;
}

.keret h3 {
  text-align: center;
  padding: 10px;
}

.keret hr {
  border: 2px solid var(--fekete);
  border-radius: 40px;
}

.keret .lista hr {
  border: 1px solid var(--background) !important;
  border-radius: 10px;
}

.keret:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.keret h1 {
  text-align: center;
}

.keret .lista {
  text-align: center;
}

.edit,
.delete {
  border-radius: 100%;
  background: var(--kek);
  padding: 5px;
  font-size: 13px !important;
  color: var(--feher) !important;
  float: right;
  margin-top: 50px;
  transition: 0.2s;
}

.delete {
  margin-right: 5px;
}

.edit:hover,
.delete:hover {
  background-color: #456472;
  transition: 0.2s;
}

.hozzadas {
  width: 150px;
  height: 150px;
  margin: 20px;
  margin-top: 190px;
  box-sizing: border-box;
  background-color: var(--main);
  border: none;
  outline: none;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 8px;
}

.hozzadas:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.tovabb {
  border-radius: 8px;
  background-color: #6a9ab0;
  color: var(--feher) !important;
  padding: 6px;
  text-align: center;
  font-size: 15px !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.2s;
}

.tovabb:hover {
  background-color: #456472;
  transition: 0.2s;
}

.duplikalas {
  border-radius: 8px;
  background-color: #6a9ab0;
  color: var(--feher) !important;
  padding: 6px;
  text-align: center;
  font-size: 15px !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.2s;
}

.duplikalas:hover {
  background-color: #456472;
  transition: 0.2s;
}

.bx-plus {
  font-size: 150px;
  align-items: center;
}

.jelentkezoTorles {
  border-radius: 50px;
  background-color: #6a9ab0;
  color: var(--feher) !important;
  padding: 6px;
  text-align: center;
  font-size: 15px !important;
  margin-top: 10px;
}

.versenyido {
  width: 310px;
  font-size: smaller;
}

/* reszletek oldal */
.main {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-top: 150px;
}

.kismain,
.minimain {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 25px;
  width: 70%;
  margin-bottom: 15px;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--main);
  border-radius: 25px;
  padding: 15px;
}

.text {
  width: 45%;
  border-radius: 50px;
  text-align: justify;
}

.kepBox {
  width: 500px;
  height: 500px;
}

.kepBoxVersenyek {
  width: 100%;
}

#img {
  width: 100%;
  height: 100%;
}

.image,
.miniimage {
  width: 45%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.miniimage {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  overflow-y: auto;
  border-radius: 20px;
  gap: 20px;
  max-height: 698px;
  user-select: none;
}

.main .kismain .text hr {
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 40px;
}

.esemeny {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.text .leiras {
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  text-align: center;
  background-color: #add8e6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#bottanya {
  position: absolute;
  top: 0;
  left: 0;
  background: 0;
  border: 0;
}

.terem {
  padding-right: 10px;
  float: left;
  border-right: 2px solid rgb(0, 0, 0);
}

.text .oktato {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  border-right: 2px solid rgb(0, 0, 0);
}

.text .idopont {
  padding-left: 10px;
  float: left;
  font-size: larger !important;
}

.input {
  color: var(--fekete);
  background-color: transparent;
  height: 25px;
  width: 350px;
  border-radius: 30px;
  padding: 5px;
  border: none;
  background: #f0eee9;
}

.buttony {
  cursor: pointer;
  padding: 5px;
  height: 35px;
  width: 120px;
  margin-top: 10px;
  background-color: #c2a373;
  border-radius: 30px;
  border: none;
  color: var(--feher) !important;
  margin-right: 20px;
}

.buttony-disabled {
  background-color: var(--kek);
  cursor: not-allowed;
}

.jelentkezes {
  display: flex;
  gap: 10px;
  font-size: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.input:focus {
  outline: none !important;
}

@media only screen and (max-width: 1200px) {
  .kismain,
  .minimain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .minimain {
    flex-direction: column-reverse !important;
  }
  body {
    overflow-y: auto;
    height: auto;
  }
  #img {
    width: 100%;
  }
  .image,
  .miniimage {
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .miniimage {
    flex-direction: column !important;
  }

  .text {
    width: 85%;
  }
  .image input {
    width: 250px;
    padding-right: 0;
  }
  .text .terem,
  .text .oktato,
  .text .idopont {
    border: none;
    padding-left: 0 !important;
  }
  .slideshow-container {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {

  .buttony {
    width: 100px;
  }
  .esemeny{
    font-size: 30px;
  }
  .eredmenytabla tbody{
    padding: 5px;
  }
  .text .terem,
  .text .oktato,
  .text .idopont {
    text-wrap:pretty;
    text-align: center;
  }
  
}

/*Kapcsolat oldal*/

.container .elerhetosegek {
  height: 550px;
  width: 950px;
  margin: 20px;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: var(--main);
  border: none;
  outline: none;
  border-radius: 8px;
  min-width: 320px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
  padding: 10px;
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.elerhetosegek:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.kapcsolatok {
  width: 50%;
}

.container .elerhetosegek .kapcsolatok h1 {
  margin-bottom: 50px;
}

.container .elerhetosegek .kapcsolatok p {
  padding: 7px;
}

.container .elerhetosegek .kapcsolatok i {
  font-size: 25px;
}

.container .elerhetosegek .kapcsolatok b {
  margin-left: 10px;
  text-decoration: bold;
  font-size: 20px;
}

.container .elerhetosegek .kapcsolatok .datas {
  float: right;
  margin-right: 5px;
  font-size: 20px;
}

.container .elerhetosegek .kapcsolatok hr {
  border: 1px solid var(--background) !important;
  border-radius: 10px;
}

@media screen and (max-width: 980px) {
  .container .elerhetosegek {
    width: 450px;
    height: 1000px;
  }

  .kapcsolatok {
    width: 100%;
  }

  .container .elerhetosegek .kapcsolatok h1 {
    margin-bottom: 30px;
  }
  .text .terem,
  .text .oktato,
  .text .idopont {
    font-size: 20px !important ;
    text-align: center;
  }
}

@media screen and (max-width: 470px) {
  .container .elerhetosegek .kapcsolatok b {
    font-size: 13px;
  }

  .container .elerhetosegek .kapcsolatok h1 {
    margin-bottom: 20px;
  }

  .container .elerhetosegek .kapcsolatok .datas {
    margin-top: 12px;
    font-size: 13px;
  }

  .container .elerhetosegek .kapcsolatok h1 {
    font-size: 25px !important;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00c3ff !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3 ease-in;
}
.dropdown {
  float: right;
  margin-right: 115px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #7be0ff;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropdown:hover {
  background-color: #7be0ff;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00c3ff !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3 ease-in;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7be0ff;
}

.show {
  display: block;
  z-index: 11;
}
li {
  display: inline;
}

/*Verseny oldal*/

.versenylista {
  display: flex;
  gap: 30px;
}

.versenylista div,
.versenylista a {
  border: black 2px solid;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fekete);
}

.versenylista .helyezet {
  /* filter: blur(15px); */
  border-radius: 50%;
  width: fit-content;
}

.versenylista .nev {
  /* filter: blur(15px); */
  border-radius: 20px;
  width: 225px;
  text-align: center;
}

.versenylista .pontszam {
  /* filter: blur(15px); */
  border-radius: 20px;
  width: fit-content;
}

.datetime {
  text-align: center;
}
.kozepre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blur{
  transform: rotate(28deg) !important;
  position: absolute;
  top: 615px;
  left: 520px;
  font-size: xx-large;
  font-weight: bold;
  z-index: 12;

}
.jelentkezes-blur{
  filter: blur(4px);
  user-select: none;
  
}.eredmenytabla{
  border-radius: 10px;
  border: solid 1px black;
  box-shadow: 2px 4px #b3a99a;
  background-color:#d1c7b6;
}
.eredmenytabla tbody{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.fade{
  position:relative;
  animation:animatetop 0.4s
}
  
@keyframes animatetop{
  from{top:-300px;opacity:0}
   to{top:0;opacity:1}
  }


/* .tablazatbox{
  width: fit-content;
  height: 200px;
  overflow: hidden;
} */